<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testSpringMini.demo.dao.HogwartsTestUserMapper">
    <resultMap id="BaseResultMap" type="com.testSpringMini.demo.entity.HogwartsTestUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="auto_create_case_job_name" jdbcType="VARCHAR" property="autoCreateCaseJobName"/>
        <result column="start_test_job_name" jdbcType="VARCHAR" property="startTestJobName"/>
        <result column="default_jenkins_id" jdbcType="INTEGER" property="defaultJenkinsId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!--    <select id="selectHogwartsTestUser" parameterType="int" resultType="BaseResultMap">
          SELECT * FROM hogwarts_test_user WHERE ID=#{id}
        </select>-->
    <update id="updateUserDemo">
        update hogwarts_test_user set
        user_name = #{username},
        password = #{password},
        email = #{email}
        where id = #{id}
    </update>


    <!-- concat("%",#{userName},"%"): Mysql 函数，返回结果为连接参数产生的字符串，如有任何一个参数为NULL，则返回值为NULL-->
    <select id="searchbyIdorName" resultType="HogwartsTestUser">
        SELECT * FROM hogwarts_test_user
        WHERE id = #{userId}
        <if test="userName != null and userName!=''">
            AND user_name like concat('%',#{userName},'%')
        </if>
    </select>

</mapper>